/* #standart {color:white;
            font-size: 1vmax;
            font-family: "montserrat m";
             display:grid;
              grid-template-columns: 100%;
              grid-template-rows: 100%;} */
* {margin:0;
    padding:0;
    font-size: 100%;}
@font-face {font-family: "montserrat m";
        src: url("../fonts/Montserrat-Medium.woff");}
@font-face {font-family: "montserrat b";
            src: url("../fonts/Montserrat-Bold.woff");}
@font-face {font-family: "montserrat black";
                src: url("../fonts/Montserrat-Black.woff");}
@font-face {font-family: "montserrat sb";
                    src: url("../fonts/Montserrat-SemiBold.woff");}

/*главная*/
#headerIndex {width:100%;
              display:grid;
              height:68vmax;
              grid-template-columns: 100%;
              grid-template-rows: 10% 8% 1fr;}
#navIndex {display:grid;
            grid-template-columns: 4.5% 40.5% 27% 10.5% 9.5% 1fr ;
            grid-template-rows: 100%;
            background-color: #0E1514;}
#navIn1 {color:white;
    align-self: center;
    font-size: 1.8vmax;
    grid-column:2;
    font-family: "montserrat b";}
#navIn2 {display:flex;
         justify-content: space-between;
         color:white;
         grid-column:3;
         align-items: center;
         font-size: 1.6vmax;
         font-family: "montserrat m";}
#navIn3 {grid-column:5;
            grid-row:1;
            height:45%;
            border-radius: 100vmax;
            width:100%;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(61,235,204,1) 100%);
            align-self: center;}
#navIn31 { grid-column:5;
          grid-row:1;
        height:42.5%;
        width:98.8%;
        align-self: center;
        border-radius: 100vmax;
        background-color: #0E1514;
        display:grid;
        grid-template-columns: 58% 1fr;
        grid-template-rows: 100%;}
#navIn311 {background-color: #369685;
            border-radius: 100vmax;
           border: 0.15vmax solid #01CCAC;}
#navIn311Figure {background: url("../images/figure.png");
                border-radius: 100vmax;
                 width:100%;
                 background-repeat: no-repeat;
                 background-size: 120%;
                 height:100%;
                 color:white;
                 text-align: center;
                 line-height: 250%;
                 font-size: 1vmax;
            font-family: "montserrat b";}
#navIn312Svg {width:30%;
              justify-self: center;
              align-self: center;}
#mainContentGradient1 {background: rgb(50,103,96); 
                    grid-row:2/4;
                     grid-column:1;
                     height:100%;
                     align-self: end;
                     background: radial-gradient(circle, rgba(50,103,96,1) 9%, rgba(50,103,96,1) 16%, rgba(50,103,96,1) 24%, rgba(14,21,20,1) 76%, rgba(14,21,20,1) 100%);}
#mainContentGradient2 {background: linear-gradient(180deg, rgba(14,21,20,1) 0%, rgba(50,103,96,0) 100%);
                        grid-row:2/4;
                         grid-column:1;
                         height:40%;}
#mainContentGrid {display:grid;
                  grid-row:3;
                  grid-column:1;
                grid-template-columns: 4.5% 44% 43% 1fr;
                grid-template-rows: 100%;}
#mainImg {grid-column:3;
          width:104%;
          justify-self: center;}
#fizzDeco {grid-column:4;
           transform: translateY(18%);}
#headerDescrGrid {display:grid;
                    grid-row:1;
                    grid-column:2;
                grid-template-columns: 100%;
                grid-template-rows: 11.5% 14% 3% 12.5% 20% 11% 2.5% 1fr;}
#headerDescr1 {color:white;
               grid-row:2;
                font-size: 6.4vmax;
                font-family: "montserrat black";}
#headerDescr2 {color:#0DB295;
                    grid-row:3;
                     font-size: 6.4vmax;
                     font-family: "montserrat black";}
#headerDescr3 {color:white;
                        grid-row:5;
                         font-size: 1.6vmax;
                         font-family: "montserrat m";}
#headerDescr4 {display:grid;
                grid-row:6;
            grid-template-columns: 33% 1fr;
            grid-template-rows: 100%;
             align-items: center;
             color:white;
             text-decoration: none;
             font-size: 1.6vmax;
            font-family: "montserrat m";}
#headerDescr4 svg {width:7%;}
#headerDescr5 {grid-row:8;
                display:grid;
            grid-template-columns: 18% 17% 17% 1fr;
            grid-template-rows: 100%;}
#headerDescr5img1 {width:90%;} 
#headerDescr5img2 {width:100%;}
#headerDescr5img3 {width:93%;}

/*каталог*/
#navCat {display:grid;
        grid-template-columns: 4.5% 15% 5% 22.5% 23% 5% 10% 2% 6.5% 1fr;
        grid-template-rows: 100%;
        height:6.8vmax;
        width:100%;
        background-color: white;
        box-shadow:0 0.5vmax 3vmax rgba(14,21,20,0.1);}
#navCat1 {color:#0DB295;
            align-self: center;
            font-size: 1.8vmax;
            grid-column:2;
            font-family: "montserrat b";}
#navCat2 {display:flex;
                justify-content: space-between;
                color:#0E1514;
                grid-column:5;
                align-items: center;
                font-size: 1.4vmax;
                font-family: "montserrat m";}
#navCat2 a {color:#0E1514;
              text-decoration: none;}
#navCat3 {grid-column:7;
          display:grid;
          grid-template-rows:100%;
          grid-template-columns:repeat(3,1fr);
          column-gap:8%;
          justify-items:center;
          align-items:center;}
#navCat3 svg {height:27%;}
#navSearchIcon {grid-column:3;
                align-self:center;
                justify-self:center;
                width:50%;}
#navSearch {grid-column:4;
            width:80%;
            outline:none;
            height:40%;
            color:#0E1514;
            font-family: "montserrat m";
            border-radius:100vmax;
            align-self:center;
            padding-left:5%;
            border: 0.12vmax solid #AAAAAA;}
#exitEnterButton, #exitA {grid-column:9;
            font-size: 1.5vmax;
            font-family: "montserrat m";
            color:#0E1514;
            align-self:center;}
#userPhoto {width:3vmax;
            height:3vmax;
            border-radius: 100vmax;
            align-self:center;}
main {background-color: #F8F8F8;}
.rowCat {display:grid;
         width:100%;
         height:25vmax;
         grid-template-columns: 1.5% repeat(4,1fr) 0.5%;
         column-gap:3%;
         grid-template-rows: 100%;}
.cardCat {display:grid;
          background-color: white;
          border-radius: 1vmax;
          border: 0.15vmax solid #F5F5F5;
          grid-template-columns: 5% 1fr 22%;
          grid-template-rows: 6% 48% 6.5% 5.5% 16% 1fr;}
.cardCat > img {grid-row:2;
                grid-column:1/span all;
                justify-self: center;
                height:100%;}
.cardCatR1 {grid-row:4;
            grid-column:2;
            color: #0DB295;
            font-size: 1.1vmax;
            font-family: "montserrat m";}
.cardCatR2 {grid-row:5;
            grid-column:2/span all;
            color: #0E1514;
            font-size: 1.9vmax;
            font-family: "montserrat sb";}
.cardCatR3C1 {grid-row:6;
            grid-column:2;
            color: #0E1514;
            font-size: 1.6vmax;
            align-self:center;
            font-family: "montserrat m";}
.cardCatR3C2 {grid-row:6;
            grid-column:3;
            background-color: #0E1514;
            border-radius: 1vmax 0 1vmax 0;
            align-items:center;
            justify-items: center;
            display:grid;}
.cardCatR3C2 svg {width:55%;}
.voidCat {height:5vmax;}

/*модальное окно*/
.modal {position:fixed;
        top:50%;
        display:none;
        /* background-image: url(../iPhone\ 13\ Pro\ Max\ -\ 11.png);
        background-position: -20% 60%;
        background-repeat: no-repeat; */
        left:50%;
        transform: translate(-50%, -50%);
        width:50%;
        height:87%;
        /* display:grid; */
        grid-template-columns: 1fr;
        grid-template-rows: 8% 35% 1fr;}
.modalImg {grid-row:1/3;
          grid-column:1/span all;
          justify-self:center;
          height:100%;}
.modalBody {grid-row:2/span all;
            grid-column:1/span all;
            background-color: white;
            border-radius: 1vmax;
            display:grid;
            grid-template-columns: 1fr 6%;
            grid-template-rows: 7% 1fr;}
.modalClose {grid-row:1;
             grid-column:2;
             align-self:end;
             width:40%;}
.modalShadow {position:absolute;
              top:0;
              left:0;
              display:none;
              background-color: rgba(14,21,20,0.93);
              width:100%;
              height:100%;}
.modalContent {grid-row:3;
               grid-column:1/span all;
               display:grid;
               grid-template-columns: 3.5% 1fr 5%;
               grid-template-rows: 7% 7% 1% 13.5% 20.5% 6% 7% 7% 9% 1fr;}
.modalR1 {grid-column:2;
          grid-row:1;
          font-size: 1.2vmax;
            color:#0E1514;
            font-family: "montserrat b";}
.modalR2 {grid-column:2;
            grid-row:2;
          display:grid;
          grid-template-rows: 100%;
          align-items:center;
          grid-template-columns: 3% 3.5% 1fr;}
.modalR2C1 {width:70%;}
.modalR2C2 {font-size: 0.8vmax;
            color:#0E1514;
            font-family: "montserrat sb";}
.modalR2C3 {font-size: 0.8vmax;
            color:#BDBDBD;
            font-family: "montserrat m";}
.modalR3 {font-size: 0.8vmax;
                color:#AAAAAA;
                grid-column:2;
                grid-row:4;
                font-family: "montserrat m";}
.modalR4OUT {grid-row:5;
            grid-column:1/span all; 
            background-color: rgba(13,178,149, 0.05);}
.modalR4 {grid-row:5;
          grid-column:2;
          display:grid;
          grid-template-columns: 2% 1% 31% 1fr;
          grid-template-rows: 18% 30% 20% 1fr;}
.modalR4 svg {grid-row:3;
              width:100%;
              grid-column:1;}
.modalR4C1 {grid-row:2;
            grid-column:1;
            font-size: 0.9vmax;
            color:#0E1514;
            font-family: "montserrat b";}
.modalR4C1 {grid-row:2;
                grid-column:1;
                font-size: 0.9vmax;
                color:#0E1514;
                font-family: "montserrat b";}
.modalR4C2-1 {grid-row:3;
                grid-column:3;
                    font-size: 0.7vmax;
                    color:#0E1514;
                    font-family: "montserrat m";}
.modalR4C2-2 {grid-row:4;
                grid-column:3;
                font-size: 0.7vmax;
                color:#A3A1A1;
                font-family: "montserrat m";}
.modalR4C3-1 {grid-row:3;
                    grid-column:4;
                    font-size: 0.9vmax;
                    color:#0E1514;
                    justify-self:end;
                    font-family: "montserrat sb";}  
.modalR4C3-2 {grid-row:4;
                        grid-column:4;
                        font-size: 0.7vmax;
                        color:#0DB295;
                        justify-self:end;
                        font-family: "montserrat sb";}  
.modalR5 {grid-row:7;
          grid-column:2;
          font-size: 0.9vmax;
            color:#0E1514;
            font-family: "montserrat sb";}
.modalR6 {grid-row:8;
        grid-column:2;
        display:flex;
        color:#AAAAAA;
        font-family: "montserrat m";
        font-size:0.9vmax;
        gap:3%;}
.modalR6 > div {border-radius: 100vmax;
                 padding-left: 2%;
                 padding-right: 2%;
                line-height:150%;
                border: 0.11vmax solid #AAAAAA;}
.modalR7OUT {grid-row:10;
            border-radius: 1vmax;
            background-color: #0E1514;
            grid-column:1/span all;
            display:grid;
            grid-template-columns: 3.5% 1fr 19.5% 5% ;
            grid-template-rows: 25% 26% 27% 1fr;}
.modalR7C2 {grid-row:2/4;
            grid-column:3;
            background-color: #0DB295;
            color:white;
            border:none;
            font-size: 1.1vmax;
            border-radius: 100vmax;
            font-family: "montserrat sb";}
.modalR7C1-1 {grid-row:2;
                grid-column:2;
                color:#B9B9B9;
                font-size: 0.8vmax;
                align-self: center;
                font-family: "montserrat sb";}
.modalR7C1-2 {grid-row:3;
                    grid-column:2;
                    color:white;
                    font-size: 1.2vmax;
                    font-family: "montserrat b";}

/*окна входа и регистрации*/
#modalAuth, #modalReg {display:none;
                background-color: white;
                border-radius: 1vmax;
                position:fixed;
                transform: translate(-50%, -50%);
                top:50%;
                left:50%;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                width:40%;
                height:60%;
                grid-template-columns: 1fr 7%;
                grid-template-rows: 10% 15% 1fr;}
/* #modalAuth {background-image: url('../images/cansMainContent2.png');
        background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;} */
#authClose, #regClose {grid-row:1;
                grid-column:2;
                align-self:end;
                width:50%;}
.authHeadline {grid-column:1/span all;
                grid-row:2;
                justify-self: center;
                font-size: 1.8vmax;
                color:#0E1514;
                font-family: "montserrat b";}
.authForm {grid-row:3;
          grid-column:1/span all;
          display:grid;
          grid-template-rows: 25% 25% 1fr;
          row-gap:10%;
          height:75%;
          grid-template-columns: 100%;}
.authForm input[type=text], .authForm input[type=email]  {border-radius: 100vmax;
                            border: 0.11vmax solid #AAAAAA;
                            padding-left: 5%;
                            width:70%;
                            justify-self: center;}
#authA, #regA {color:#01CCAC;}
.authSwitch {grid-row:3;
             grid-column:1/span all;
            height:25%;
            text-align: center;
            line-height: 450%;
            align-self: end;
            font-size: 1.15vmax;
            color:#0E1514;
            font-family: "montserrat m";}
.authButton {width:45%;
            background-color: #0DB295;
            color:white;
            border:none;
            height:85%;
            font-size: 1.3vmax;
            border-radius: 100vmax;
            font-family: "montserrat sb";
            justify-self:center;}
#exitA {text-decoration: none;}